<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Faces</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css">
        <script type="text/javascript" src="../static/script.js"></script>

    </head>
    <body class="fundo">
        <div id="container">
            "Como Treinar seu Dragão"
        </div> 
        <div class="container2">
            <div id="sinopse" class="info">
                <h3>
                    Na ilha de Berk, os vikings dedicam a vida a combater e matar dragões. Soluço (Jay Baruchel), filho do chefe Stoico (Gerard Butler), não é diferente. Ele sonha em matar um dragão e provar seu valor ao pai, apesar da descrença geral. Um dia, por acaso, ele acerta um dragão que jamais foi visto, chamado Fúria da Noite. Então Soluço precisa aprender a controlar seu medo, e tenta domar o famoso dragão.
                </h3>
            </div>
            <div id="ficha">
                <div id="dragao"  class="info">
                    <h3>
                        Ficha Dragão "Perigoso"
                    </h3>
                    <ul>
                        <li>Espécia: Fúria da Noite</li>
                        <li>Nome: Banguela</li>
                        <li>Velocidade: Não definida</li>
                        <li>Ataque: Não definido</li>
                        <li>Tipos de Humor: Segue abaixo</li>
                    </ul>
                </div>
                <div>
                    <img id="imagem_bravo"class="visivel " src="../img/banguela_bravo.gif">
                    <h2 id= "texto_bravo" class="visivel centralizado">Bravo</h2> 
                    <img id="imagem_surpreso"class="escondido" src="../img/banguela.surpreso.webp">
                    <h2 id= "texto_surpreso" class="escondido centralizado">Surpreso</h2>
                    <img id="imagem_feliz" class="escondido "class="escondido" src="../img/banguela_feliz.jpg">
                    <h2 id= "texto_feliz" class="escondido centralizado">Feliz</h2>
                    <img id="imagem_desconfiado" class="escondido " class="escondido"src="../img/banguela_desconfiado.jpg">
                    <h2 id= "texto_desconfiado" class="escondido centralizado">Desconfiado</h2>
                    
                    <button class="centralizado" onclick="muda_humor()">Mudar Humor</button>
                </div>
            </div>
        </div>
        
    </body>
</html>